body {background-color: lightgray;}

table{background: rgba(0,0,0,0.8);
color: white;}
td{
text-align: center;
padding-bottom: 10px;
border: 3px solid black;
spacing: 10px;}

th{text-align: center;}

.bar{background-color: rgba(0,0,0,0.8);
    margin-top: 0;}
    
    h1{margin-top: 0;
    color: white;
    height: 50px;
    padding: 5px;}